[Desktop Entry]
Name=Firefox 51.0.1
Comment=this is firefox
Exec=/usr/local/lib/firefox/firefox
Icon=/usr/lib/firefox/icons/mozicon64.png
Terminal=false
Type=Application
Categories=Application;Network;
